---
layout: splash
permalink: /
title: Welcome!
intro: This is just a test
header:
  overlay_color: "#000"
  overlay_filter: "0.3"
  overlay_image: /assets/images/headerdark.jpg
excerpt: "Welcome to my page! You will find various blogs about software, tech, automotive, and everything in between."
feature_row_software:
  - image_path: /assets/images/softwareblogs.jpg
    alt: "Software Blogs"
    title: "Software Blogs"
    excerpt: 'These blogs are focused around anything software related. You will find blogs focused around Xamarin, mobile development, and Continuous Integration and Delivery systems.'
    url: "/software/"
    btn_label: "Go To Software Blogs"
    btn_class: "btn--primary"
feature_row_auto:
  - image_path: /assets/images/autoblogs.jpg
    alt: "Automotive Blogs"
    title: "Automotive Blogs"
    excerpt: 'All blogs here are discussions of various automotive topics. These may be autocross related discussions, reviewing cars or car parts, and anything else involving cars.'
    url: "/automotive/"
    btn_label: "Go To Auto Blogs"
    btn_class: "btn--primary"
feature_row_tech:
  - image_path: /assets/images/techblogs.jpg
    alt: "Tech Blogs"
    title: "Tech Blogs"
    excerpt: "Everything tech lives in here. You'll find various blogs around tech, whether it's reviews, comparisons, or just general tech chat"
    url: "/tech/"
    btn_label: "Go To Tech Blogs"
    btn_class: "btn--primary"
---

{% include feature_row id="feature_row_software" type="left" %}

{% include feature_row id="feature_row_auto" type="right" %}

{% include feature_row id="feature_row_tech" type="left" %}